/* --------  --------  --------  --------  --------  --------  --------  --------  -------- 
         mixin's
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */

@mixin linear-gradient-top-bottom($first-color, $second-color) {
  background: -webkit-linear-gradient($first-color, $second-color); 
  background: -o-linear-gradient($first-color, $second-color); 
  background: -moz-linear-gradient($first-color, $second-color); 
  background: linear-gradient($first-color, $second-color); 
}

@mixin rotate($deg){
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

/* --------  --------  --------  --------  --------  --------  --------  --------  -------- 
         single class
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */

.color-light{
  color: $color-blue-4-light;
}