html{
  body{
    color: $color-blue-4;
    font-family: "Lato", Arial;

    .blue-box{
      margin-bottom: 20px;
      padding: 0;
      border: $border-dicke solid $color-blue-1;
      &:first-child{
        margin-top: 20px;
      }
      header{
        position: relative;
        height: 60px;
        padding: 8px;
        border-bottom: $border-dicke solid $color-blue-1;
        @include linear-gradient-top-bottom($color-blue-3, $color-blue-2);

        .logo-container-border{
          position: absolute;
          top: -10px;
          left: 20px;
          height: 44px;
          width: 44px;
          background-color: $color-white;
          box-shadow: 1px 1px 10px $color-gray-1;
          @include border-radius($border-radius);
          .logo-container{
            margin: 2px;
            padding: 9px;
            height: 40px;
            width: 40px;
            border: 1px solid $color-gray-1;
            @include linear-gradient-top-bottom($color-white, $color-blue-3);
            @include border-radius($border-radius);
            svg{
              height: 20px;
              width: 20px;
              path{
                fill: $color-blue-4;
              }
            }
          }
        }
        .title{
          margin-left: 100px;
          font-size: 2em;
        }
      }

      .left-column{
        p{
          margin: 10px 0 0 0;
        }
      }

      .right-column{
        h2{
          span{
            font-size: 0.6em;
          }
          font-size: 3em;
        }
          padding-right: 10%;
          button{
            margin-top: 80px;
          }
        @media (max-width: 767px){
          .row{
            margin: 0 20px;
            display: inline-block;
          }
          button{
            margin-top: 0;
          }
        }

      }
    }

    .chart{
      width: 100%;
      height: 200px;
    }

    button{
      &.btn-default{
        color: $color-white;
        border: $border-dicke solid $color-white;
        @include border-radius($border-radius);
        @include linear-gradient-top-bottom($color-button-one, $color-button-two);
        box-shadow: 1px 1px 10px $color-gray-1;
        margin-bottom: 10px;
      }
    }
  }
}
