$color-blue-1: #89b8d8; // border
$color-blue-2: #d6ebfa; // header ciemniejszy
$color-blue-3: #f1f8fd; // header jasniejszy
$color-blue-4: #05415b; // teksty
$color-blue-4-light: #2f6ca6; // teksty
$color-gray-1: #d8d8d8;

$color-button-one: #a5e3f5;
$color-button-two: #046c8a;

$color-white: #fff;

$border-dicke: 2px;
$border-radius: 8px;